<phpunit stopOnError="true">
    <testsuites>
        <testsuite name="dbconnection">
            <file>tests/Config/DatabaseTest.php</file>
        </testsuite>
        <testsuite name="test render view">
            <file>tests/App/ViewTest.php</file>
        </testsuite>
        <testsuite name="test register user">
            <file>tests/Repository/UserRepositoryTest.php</file>
        </testsuite>
        <testsuite name="test register user service">
            <file>tests/Service/UserServiceTest.php</file>
        </testsuite>
        <testsuite name="test user controller">
            <file>tests/Controller/UserControllerTest.php</file>
        </testsuite>
        <testsuite name="test session">
            <file>tests/Repository/SessionRepositoryTest.php</file>
            <file>tests/Service/SessionServiceTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
